name: publish-jar

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Optional tag (e.g. `1.2.3`). Default to the tag of the selected branch.'
        required: false
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
      - name: Get version
        id: version
        run: echo "VERSION=$(./gradlew -q printVersion)" >> "$GITHUB_OUTPUT"
      - name: Validate tag format and version
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] && [ ! -z "${{ github.event.inputs.tag }}" ]; then
            TAG=${{ github.event.inputs.tag }}
          else
            TAG=${GITHUB_REF#refs/tags/}
          fi
          if [[ ! $TAG == ${{ steps.version.outputs.VERSION }} ]]; then
            echo "Error: Tag version ($TAG) does not match project version (${{ steps.version.outputs.VERSION }})"
            exit 1
          fi
      - name: Build a publishable JAR
        run: ./gradlew clean publish
        env:
          CI: true
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: false
          files: ./build/staging-deploy/io/github/tanin47/**/*
          overwrite_files: true
          fail_on_unmatched_files: true
          generate_release_notes: true
          tag_name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}
      - name: Publish JAR to Maven Central
        run: ./gradlew jreleaserDeploy
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_MAVENCENTRAL_PASSWORD }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.JRELEASER_GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
